[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
six = "*"
pygad = "*"
alive-progress = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
